/* GENERAL */
html, body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}
a {
    text-decoration: none;
}
section {
    display: flex;
    height: auto;
    width: 100%;
}
bubble {
    margin: .5rem;
    width: 100%;
    border-radius: .5rem;
}
container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 100%;
}
icon {
    display: block;
    border-radius: 3px;
    background: #6ccce3;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
}
.flex {
    display: flex;
}
.right{
    margin-left: auto;
}
label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0 none;
}
/* general */
/* SPLASH */
.splash-section {
    height: 100vh;   
}
.splash-section bubble {
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    animation: multi 10s infinite;
}

/* splash-header */
.splash-header {
    display: flex;
    height: 50px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    align-items: center;
}
.splash-header container {
    align-items: center;
    height: 100%;
}
.splash-header-icon {
    width: 20px;
    height: 20px;
}

.social-links {
    display: flex;
}
.site-links {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    height: 50px;
    top: 0;
}
.site-links .nav-item, .social-links .nav-item {
    padding-left: .5rem;
    padding-right: .5rem;
}
.nav-item {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    z-index: 500;
}
.splash-header .nav-item {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all 0.5s ease 0.02s;
}
.splash-header .nav-item:hover {
    color: rgba(0, 0, 0, 0.5);
}

.title-head {
    display: flex;
    align-items: center;
    height: 50px;
}
.title {
    display: flex;
    align-items: center;
    z-index: 500;
}
.splash-icon {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 25px;
}
.title-head span {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Audiowide',cursive;
    margin-left: 10px;
    color: #ffffff;
}

.header-main--trigger_icon {
    transition: opacity 300ms ease-in-out;
    width: 18px;
    height: 18px;
    position: relative;
    display: block;
    opacity: 1;
}
.header-main--cross_hatch {
    background-color: #fff;
}
.header-main--cross_hatch::before {
    top: -5px;
}
.header-main--cross_hatch::after {
    top: 5px;
}
.header-main--cross_hatch::before, .header-main--cross_hatch::after {
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    z-index: 10;
    content: '';
    transition: all 300ms ease-in-out;
}
.header-main--cross_hatch {
    text-indent: 2000px;
    left: 0;
    top: 38%;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    content: '';
    transition: right 300ms ease-in-out;
}
.header-main--cross_hatch::before, .header-main--cross_hatch::after {
    background-color: #fff;
}

/* content */
.splash-info {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.splash-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-size: 45px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}
.splash-info-content span:first-child {
    margin-bottom: 10px;
}
.splash-info-content span {
    text-align: center;
}
.typewriter p {
    color: #ffffff;
    overflow: hidden;
    border-right: .02em solid rgba(0,0,0,0.5);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* shortcuts */
.shortcut-links {
    display: flex;
    margin: 60px;
}
.shortcut-links .nav-item {
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    width: 120px;
    height: 100px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 0.5px solid rgba(0,0,0,0.0);
    border-radius: 5px;
    letter-spacing: 1px;
}
.shortcut-links .nav-item:hover {
    border: 0.5px solid rgba(255,255,255, 0.8);
    transition: all 0.5s ease 0.02s;
}

/* splash-footer */
.splash-footer {
    position: absolute;
    bottom: calc(.5rem);
    height: 50px;
    width: calc(100% - 1rem);
}
.footer-links {
    display: flex;
}
.footer-links span {
    display: flex;
    align-items: center;
}
.splash-footer container {
    align-items: center;
    height: 100%;
    display: flex;
    width: calc(100% - 40px);
    justify-content: center;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}
.splash-footer-icon {
    width: 15px;
    height: 15px;
}
/* splash */
/* FOOTER */
.footer-section {
    flex-direction: column;
    /*background: linear-gradient(#ffffff 0%, rgba(220, 220, 220, 0.8) 50%); /* Standard syntax */
    background: rgba(220, 220, 220, 0.8);
}
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.footer-icon{
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
}
.footer-item {
    display: flex;
    color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
credits {
    flex-direction: column;
    font-size: 13px;
    font-weight: 700;
}
links nav {
    margin-top: 5px;
}
color-bar {
    display: flex;
    width: 100%;
    height: 8px;
    margin: 1rem;
    border-radius: 100px;
    background: linear-gradient(to right, #6ccce3 , #ffffff);
    animation: multi 5s infinite;
}
/* footer */

/* ANIMATIONS */
/* Color effect */
@keyframes multi {
    0% {
        background:#aad4dd;
    }
    10% {
        background:#0fb8ad;
    }
    25% {
        background:#6ccce3;
    }    
    50% {
        background:#2cb5e8;
    }
    75% {
        background:#6ccce3;
    }
    90% {
        background:#0fb8ad;
    }
    100% {
        background:#aad4dd;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgba(0,0,0,0.5); }
}
/* animations */

.footer-links .nav-item::after {
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
    content: '\2022';
    color: rgba(255,255,255,0.5);
}
.footer-links span::after {
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
}
